.gui {
    --color: #111;
    --border-width: 1px;
    --gap: 15px;

    position: absolute;
    left: 30px;
    top: 30px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    justify-content: center;
    z-index: 3;
    background: linear-gradient(120deg, #fff, #fafafa);
    box-shadow: 0 2px 4px rgba(0 0 0 / 0.1), 0 1px 2px rgba(0 0 0 / 0.1);
    padding: 15px 10px;
    border-radius: 4px;
}

.gui * {
    pointer-events: all;
}

.gui-tools {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.gui-el {
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0.7;
    cursor: pointer;
}

.gui-el-with-color {
    opacity: 1;
    cursor: none;
}

.gui-el__color {
    width: calc(100% - 2 * var(--border-width));
    height: calc(100% - 2 * var(--border-width));
    border-radius: 50%;
}

.gui-el__icon {
    pointer-events: none;
    display: flex;
    align-items: center;
}

.gui-el__icon svg {
    width: 18px;
    height: 18px;
    fill: var(--color);
}

.gui-el__bg {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}

.gui-el-with-color .gui-el__bg {
    clip-path: none;
}

.gui-el__key {
    position: absolute;
    left: -5px;
    top: -6px;
    border-radius: 50%;
    z-index: 2;
    color: var(--color);
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    opacity: 0.2;
}

.gui-el.active {
    opacity: 1;
    --color: #0866FF;
}

.gui-el.active .gui-el__bg {
}

.gui-el.active .gui-el__key {
}

.gui-el.active .gui-el__icon {
}

.gui-el.active .gui-el__icon svg {
}


.color-help-icons {
    position: fixed;
    bottom: 30px;
    left: 30px;
    pointer-events: none;
    display: flex;
    gap: 10px;
}

.color-help-icons-el {
    position: relative;
    width: 26px;
    height: 26px;
}

.color-help-icons-el__key {
    position: absolute;
    text-transform: uppercase;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 1;
    color: #000;
}
.color-help-icons-el__color {
    width: 100%;
    height: 100%;
    display: inline-block;
    background: var(--color);
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px rgba(0 0 0 / 0.05);
}

.color-help-icons-el.active {
    scale: 1.4;
    box-shadow: none;
}

.color-help-icons-el.active .color-help-icons-el__key {
    color: #000;
}
.color-help-icons-el.active .color-help-icons-el__color {
    background: var(--color);
    box-shadow: inset 0 0 0 1px rgba(0 0 0 / 0.1), 0 1px 4px rgba(0 0 0 / 0.1);
}