* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

body.white-board-mode {
    background: linear-gradient(#fff, #eee);
}

.canvas-container:not(.default),
.canvas-container:not(.default) canvas {
    cursor: none !important;
}

#second {
    position: absolute;
    left: 0;
    top: 0;
    cursor: none !important;
    pointer-events: none;
    z-index: 0;
}

.tooltip {
    font-family: sans-serif;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    color: #FFF;
    margin: 10px;
    z-index: 5;
    display: inline-flex;
    align-items: center;
    gap: 15px;
}
.tooltip-close {
    width: 30px;
    height: 30px;
    border: 0;
    background: none;
    text-indent: -9999px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.tooltip-close:focus {
    outline: none;
}
.tooltip-close::before,
.tooltip-close::after {
    content: "";
    width: 15px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) var(--rotate);
}
.tooltip-close::before {
    --rotate: rotate(-45deg);
}
.tooltip-close::after {
    --rotate: rotate(45deg);
}